encoder_training
.DS_Store
__pycache__
.vscode/
*.egg-info
agent_data
strategy_training
exp_data
eval_data
user_study
population_data
evaluation_data
encoder_training*
*.pkl
*_bp_pop*
agent_characterization/burrito*
agent_characterization/gamma*
agent_characterization/hallway*
agent_characterization/open*
agent_characterization/ring*
agent_characterization/fc*
agent_characterization/2pol*
agent_characterization/6pol*
agent_characterization/11pol*
agent_characterization/human_data*
epochs_training
eval_scripts