data/** filter=lfs diff=lfs merge=lfs -text
exp_data/** filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
events.out.tfevents.* filter=lfs diff=lfs merge=lfs -text
benji_config/** filter=lfs diff=lfs merge=lfs -text
data/15000000/*.part-* filter=lfs diff=lfs merge=lfs -text


"benji_config/bp configs/hallway_2p_bp.yaml" -filter -diff -merge text

"benji_config/bp configs/forced_coordination_2p_bp.yaml" -filter -diff -merge text

agent_characterization/gen_data_new.sh -filter -diff -merge text

"benji_config/bp configs/mep-fcp/forced_coordination_2p_pp.yaml" -filter -diff -merge text
"benji_config/bp configs/mep-fcp/hallway_2p_pp.yaml" -filter -diff -merge text
"benji_config/bp configs/mep-fcp/open_2p_pp.yaml" -filter -diff -merge text
"benji_config/bp configs/mep-fcp/ring_2p_pp.yaml" -filter -diff -merge text

"agent_characterization/gen_data_new_open_fcp.sh" -filter -diff -merge text
"agent_characterization/gen_data_new_hallway_fcp.sh" -filter -diff -merge text
"agent_characterization/gen_data_new_fc_fcp.sh" -filter -diff -merge text
"agent_characterization/gen_data_new_ring_fcp.sh" -filter -diff -merge text
"overcooked/src/burrito_rl/config/burrito_2p_gendata_fcp_open.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/burrito_2p_gendata_fcp_hallway.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/burrito_2p_gendata_fcp_fc.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/burrito_2p_gendata_fcp_ring.yaml" -filter -diff -merge text

"overcooked/src/burrito_rl/config/br_fc_fcp.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/br_ring_fcp.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/br_hallway_fcp.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/br_open_fcp.yaml" -filter -diff -merge text

"overcooked/src/burrito_rl/config/vae_cluster_br_ring_fcp.yaml" -filter -diff -merge text
"overcooked/src/burrito_rl/config/gamma_br_ring_fcp.yaml" -filter -diff -merge text

overcooked/src/burrito_rl/config/eval_gamma_*_fcp.yaml -filter -diff -merge text
overcooked/src/burrito_rl/config/eval_vaebr_*_fcp.yaml -filter -diff -merge text
